<nav class="custom_header__inline-menu header__inline-menu">
<ul class="custom_list-menu">
{%- for link in section.settings.menu.links -%}
  <li class="main_menu_item">
    {%- if link.links != blank -%}
      <a href="{{- link.url -}}">{{- link.title -}}</a>
      <div class="mega_menu_items_wrapper item_{{- link.title -}}">
        <div class="mega_menu_items_blocks">
          <div class="menu_custom_block_wrappper">
            {% for block in section.blocks %}
              {% if block.type == 'mega_menu' %}
                {% assign menutitle = block.settings.menu_title | handle %}
                {% assign menulinktitle = link.title | handle %}
                {% if menulinktitle == menutitle %}
                  <div class="menu_custom_block">
                    {% if block.settings.block_image %}
                        <div class="menu_custom_block_img">
                      <img
                        loading="lazy"
                        height="auto"
                        width="auto"
                        src="{{- block.settings.block_image |img_url:'350x350' -}}"
                        alt="{{- block.settings.block_image.alt -}}"
                      >
                          </div>
                      {% else %}
                        {% if block.settings.video != blank %}
                            <div class="video-chose">
{{ block.settings.video | video_tag: controls: false, autoplay: false, loop: false, muted: true, id: "myVideo" }}
<button id="playButton" class="video-play-btn">Play</button>
</div>

                            {% endif %}
                          {% endif %}
                    
                    {% if block.settings.block_subtext != blank or block.settings.block_heading != blank or block.settings.block_subtext-h != blank %}
                      <div class="menu_custom_block_content">
                        <p class="menu_custom_block_heading">{{- block.settings.block_heading -}}</p>
                        <span class="menu_custom_block_subtext">
                          {{- block.settings.block_subtext -}}
                        </span>

                      </div>
                    {% endif %}
                  {% if block.settings.block_link != blank %}
                    <a href="{{- block.settings.block_link -}}"></a>
                  {% endif %}
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>

    <ul class="child_menu_links">
<div class="shown-link">
{% for childlink in link.links %}
  <div class="sub-main-lnk">
    <div class="both-li">
      {%- assign child_handle = childlink.title | handle -%}

      {% for block in section.blocks %}
        {% if block.type == 'Custom_images' %}
          {% assign menu_t = block.settings.sub-menu_title | handle %}
          {% if menu_t == child_handle %}
            <div class="let-im">
              <img src="{{ block.settings.menu_image | img_url:'thumbnail' }}" alt="{{ childlink.title }}">
            </div>
          {% endif %}
          
        {% endif %}
      {% endfor %}

      <li class="main-sub-child_menu_item">
        <a href="{{ childlink.url }}">{{ childlink.title }}</a>
      </li>
      
    </div>

    {% if childlink.links %}
      {% for grandchildlink in childlink.links %}
        <div class="both-li">
          {%- assign grand_handle = grandchildlink.title | handle -%}

          {% for block in section.blocks %}
            {% if block.type == 'Custom_images' %}
              {% assign menu_t = block.settings.sub-menu_title | handle %}
              {% if menu_t == grand_handle %}
                <div class="let-im">
                  <img src="{{ block.settings.menu_image | img_url:'thumbnail' }}" alt="{{ grandchildlink.title }}">
                </div>
                  <div class="tag-text">{{ block.settings.tag_title }}</div>
              {% endif %}
            {% endif %}
          {% endfor %}

          <li class="child_menu_item">
            <a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
          </li>
        </div>
      {% endfor %}
    {% endif %}

  </div>
{% endfor %}
</div>
</ul>





        </div>
{% unless link.title == "Products" %}
<div class="register-menu">
<a href="{{ section.settings.btn-link }}"><div class="reg-btn">{{ section.settings.btn }}</div></a>
</div>
{% endunless %}
      </div>
    {% else %}
      <a href="{{- link.url -}}">{{- link.title -}}</a>
    {% endif %}
  </li>
{% endfor %}
</ul>
</nav>




<style>
.shown-link {
    display: flex;
}
.custom_header__inline-menu ul.custom_list-menu {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 35px;
}

.custom_header__inline-menu ul.custom_list-menu>li>a {
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: normal;
    font-family: Frutiger Neue LT W1G;
}

.custom_header__inline-menu .mega_menu_items_wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #fff;
    min-height: 343px;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    top: auto;
    border-radius: 0 0 50px 50px;
}

.custom_header__inline-menu .mega_menu_items_blocks {
    max-width: 1102px;
    /* margin: 0 auto; */
    padding: 50px 20px;
    display: flex;
    flex-direction: row-reverse;
}


.custom_header__inline-menu .menu_custom_block_wrappper {
    display: flex;
    align-items: flex-start;
    max-width: 68.55%;
    width: 100%;
    gap: 15px;
}

.custom_header__inline-menu li.main_menu_item:hover .mega_menu_items_wrapper {
    opacity: 1;
    visibility: visible;
}

.custom_header__inline-menu ul.child_menu_links {
    max-width: calc(100% - 68.55%);
    width: 100%;
    padding: 0 0 0 25px;
    list-style: none;
    margin: 0;
}

.custom_header__inline-menu .menu_custom_block_img {
    position: relative;
    padding-bottom: 68%;
}
.custom_header__inline-menu .menu_custom_block {
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    height: 100%;
}
.custom_header__inline-menu .menu_custom_block_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.custom_header__inline-menu .menu_custom_block_heading {
    color: #474747;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.17px;
    margin: 0 0 5px;
}

.custom_header__inline-menu .menu_custom_block_subtext {
    color: rgba(0, 0, 0, 0.35);
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.13px;
    display: block;
}

.custom_header__inline-menu .menu_custom_block_content {
    padding: 15px 10px;
}

.custom_header__inline-menu li.child_menu_item>a {
    border-radius: 10px;
    /* background: #FFF; */
    display: flex;
    padding: 10px 10px 10px 20px;
    justify-content: space-between;
    align-items: center;
    color: #474747;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.14px;
    text-decoration: none;
}
.custom_header__inline-menu li.child_menu_item>a svg {
    border-radius: 12px;
    background: var(--Accent-light, #F8F6F4);
    width: 30px;
    height: 30px;
    padding: 9.77px 11.88px;
}

.custom_header__inline-menu li.child_menu_item+li.child_menu_item {
    margin-top: 10px;
}
.custom_header__inline-menu .mega_menu_items_wrapper.item_Ontdek .mega_menu_items_blocks {flex-direction: row-reverse;max-width: 1008px;}

.custom_header__inline-menu .mega_menu_items_wrapper.item_Ontdek .child_menu_links {
    padding-left: 0;
    padding-right: 25px;
  max-width: calc(100% - 65.289%);
}

.custom_header__inline-menu .mega_menu_items_wrapper.item_Ontdek .menu_custom_block_wrappper {
    gap: 12px;
    max-width: 65.289%;
}
.custom_header__inline-menu .menu_custom_block {
    position: relative;
}

.custom_header__inline-menu .menu_custom_block>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block !important;
    z-index: 2;
}
.custom_header__inline-menu .mega_menu_items_wrapper.item_Support .mega_menu_items_blocks {
    flex-direction: row-reverse;
    max-width: 1103px;
}

.custom_header__inline-menu .mega_menu_items_wrapper.item_Support ul.child_menu_links {
    padding-left: 0;
    /* display: flex; */
    flex-wrap: wrap;
    max-width: calc(100% - 35.27%);
    gap: 10px 25px;
    padding-right: 43px;
}

.custom_header__inline-menu .mega_menu_items_wrapper.item_Support ul.child_menu_links .child_menu_item {
    max-width: calc(100% / 2 - 12.5px);
    width: 100%;
    margin: 0;
}

.custom_header__inline-menu .mega_menu_items_wrapper.item_Support .menu_custom_block_wrappper {
    max-width: 35.28%;
}

.custom_header__inline-menu .mega_menu_items_wrapper.item_Support .menu_custom_block_img {
    padding-bottom: 58.66%;
}
.mega_menu_items_wrapper.item_Support .menu_custom_block {
    background: transparent;
}
.custom_header__inline-menu li.main_menu_item:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.3);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transform: all 0.3s;
  pointer-events:none;
}

.custom_header__inline-menu li.main_menu_item:hover:before {
    opacity: 1;
    visibility: visible;
}
.custom_header__inline-menu li.main_menu_item>a:after {
    content: "";
    height: 50px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
}
.custom_header__inline-menu ul.custom_list-menu>li>a {
    position: relative;
}
li.main_menu_item.unhovered >a {
    opacity: 0.5;
}
</style>


<script>
document.addEventListener('DOMContentLoaded', function() {
  const video = document.getElementById('myVideo');
  const playButton = document.getElementById('playButton');

  playButton.addEventListener('click', () => {
    if (video.paused) {
      video.play();
      playButton.textContent = 'Pause'; 
    } else {
      video.pause();
      playButton.textContent = 'Play';
    }
  });
});

</script>