<!-- Product Gallery Section -->
<div class="product-gallery-wrapper">
  <!-- Main Image -->
  <div class="main-image">
    <img id="mainProductImage" src="{{ product.featured_image | img_url: '1024x1024' }}" alt="{{ product.title }}">
  </div>

  <!-- Vertical Thumbnails -->
  <div class="thumbs-column" id="thumbsColumn">
    {% for media in product.media %}
      {% if media.media_type == 'image' %}
        <img src="{{ media.preview_image | img_url: '200x200' }}" 
             data-media-id="{{ media.id }}" 
             class="{% if forloop.first %}active{% endif %}">
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Color Swatches -->
<div class="color-swatches">
  {% for variant in product.variants %}
    {% if variant.available %}
      <button class="color-swatch" 
              data-variant-id="{{ variant.id }}"
              style="background-color: {{ variant.option1 | downcase }};"
              title="{{ variant.title }}"></button>
    {% endif %}
  {% endfor %}
</div>

<!-- Modal Slider -->
<div class="modal" id="galleryModal">
  <div class="modal-content">
    <span class="close-modal" id="closeModal">&times;</span>
    <div class="swiper modal-swiper">
      <div class="swiper-wrapper">
        {% for media in product.media %}
          {% if media.media_type == 'image' %}
            <div class="swiper-slide">
              <img src="{{ media.preview_image | img_url: '1024x1024' }}">
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>


