<div class="quick__cart__main" data-product-handle = '{{ product.handle }}'>
  <div class="quick__cart__hed">
    <h2>Choose options</h2>
    <button class="quick__cart__close">&times;</button>
  </div>
  
    <div class="custom__cart__main">      
        <div class="cart__product__content">
            <div class="product__image">
               <a href="{{ product.url }}">
                    {% comment %} <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.media[1].alt | escape }}" loading="lazy" > {% endcomment %}
                    {% comment %} {% render 'product-media-gallery' ,product:product %} {% endcomment %}
                  {% for media in product.media %}
                      {% if media.media_type == 'image' %}
                        <img 
                          src="{{ media | image_url: width: 360 }}"
                          {% unless media.alt == product.title %} alt="{{ media.alt | escape }}"{% endunless %}
                          loading="lazy"
                          class="product__image__item"
                        width="" height="">
                      {% endif %}
                  {% endfor %}
                  </a>
            </div>
            <div class="product__title__price">
                <h3 class="product__title">{{ product.title }}</h3>
                <p class="product__price">{{ product.price | money_with_currency }}</p>
                <a href="{{ product.url }}" class="product__GOTO__main">View Details</a>
            </div>
        </div>
        <div class="custom_product_variants">
            {% for option in product.options_with_values %}
              <div class="product_variant_main variant__{{ option.name }}">
                {% assign downcase_name = option.name | downcase %}
                 {% if downcase_name contains 'color' or downcase_name contains 'colour' %}
                  <div class="color-swatch-group product_color_swatchs" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <label
                        class="color-swatch color__swatch__label"
                        title="{{ value }}"
                        style="background-color: {{ value | downcase }};"
                      >
                        <input
                          type="radio"
                          name="{{ option.name }}-{{ option.position }}"
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}checked{% endif %}
                          class="swatch-input__input color-swatch-input color__swatch__input"
                          data-value="{{ value | escape }}"
                        >
                        <span class="swatch-checkmark"></span>
                      </label>
                    {% endfor %}
                  </div>
                  {% else %}
                  {% comment %} <select class="option-variant-selector" name="option-variant-selector" id="ProductSelect-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option 
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %} selected="selected"{% endif %}
                      >
                        {{ value | escape }}
                      </option>
                    {% endfor %}
                  </select> {% endcomment %}
                  <div class="variant-radio-group" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <label class="variant-radio-label">
                        <input
                          type="radio"
                          name="{{ option.name }}-{{ option.position }}"
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}checked{% endif %}
                          class="swatch-input__input variant-radio-input"
                          data-value="{{ value | escape }}"
                        >
                       <span> {{ value }} </span>
                      </label>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            <input type="hidden" class="variant-selector" id="custom-variant-id" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        </div>
        <div class="action_btns">
            <div class="product_actions_btns">
              {% assign first_variant = product.variants.first %}
              <button class="product_cart_btn ajax__cart {% unless first_variant.available %} disabled-btn {% endunless %}"
                 {% unless first_variant.available %} disabled {% endunless %}
                >Add Into Cart</button>
            </div>
          </div>
    </div>
</div>
<style>
.quick__cart__main {
    position: fixed;
    top: 0;
    right: -500px;
    width: 450px;
    max-width: 90%;
    height: 100vh;
    border-radius: 15px 0 0 15px;
    background: #fff;
    padding: 20px 0;
    z-index: 9999;
    box-shadow: -3px 0 10px rgba(0,0,0,0.1);
    transition: right 0.4s ease;
}

.quick__cart__hed {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px 15px;
}

.quick__cart__hed .quick__cart__close {
    border: none;
    cursor: pointer;
    color: #000;
    padding: 0;
    letter-spacing: 0;
    font-size: 26px;
    line-height: 1;
    background-color: transparent;
    font-weight: 300;
}

.quick__cart__hed h2 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    font-family: 'Frutiger Neue LT W1G';
    width: calc(100% - 36px);
}
.quick__cart__main.active__Cart {
    right: 0; 
}

.product__image__item{
  display:none;
}
.custom__cart__main .variant-radio-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 5px 22px 3px;
    border: 1px solid #396948;
    border-radius: 999px;
    background-color: #ffffff;
    font-family: Frutiger Neue LT W1G;
    font-weight: 500;
    font-size: 13px;
    color: #183029 !important;
    margin: 0 2px 8px;
    cursor: pointer;
    transition: all 0.25s ease;
    text-align: center;
}

.custom__cart__main .variant-radio-label input {
    display: none;
}

.custom__cart__main .variant-radio-label:has(input:checked) {
    background-color: #bfcfc4;
}
.custom__cart__main .variant-radio-label:has(input:checked)::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #2f5c45;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -5px;
}
.quick__cart__main .custom__cart__main {
    padding: 0 15px;
}
</style>
