<div class="quick__cart__main" data-product-handle = '{{ product.handle }}'>
  <button class="quick__cart__close">&times;</button>
    <div class="custom__cart__main">
      <h2>choose options</h2>
        <div class="cart__product__content">
            <div class="product__image">
               <a href="{{ product.url }}">
                    {% comment %} <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.media[1].alt | escape }}" loading="lazy" > {% endcomment %}
                    {% comment %} {% render 'product-media-gallery' ,product:product %} {% endcomment %}
                  {% for media in product.media %}
                      {% if media.media_type == 'image' %}
                        <img 
                          src="{{ media | image_url: width: 360 }}"
                          alt="{{ media.alt | escape }}"
                          loading="lazy"
                          class="product__image__item"
                        >
                      {% endif %}
                  {% endfor %}
                  </a>
            </div>
            <div class="product__title__price">
                <h3 class="product__title">{{ product.title }}</h3>
                <p class="product__price">{{ product.price | money_with_currency }}</p>
                <a href="{{ product.url }}" class="product__GOTO__main">View Details</a>
            </div>
        </div>
        <div class="custom_product_variants">
            {% for option in product.options_with_values %}
              <div class="product_variant_main variant__{{ option.name }}">
                {% assign downcase_name = option.name | downcase %}
                 {% if downcase_name contains 'color' or downcase_name contains 'colour' %}
                  <div class="color-swatch-group product_color_swatchs" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <label
                        class="color-swatch color__swatch__label"
                        title="{{ value }}"
                        style="background-color: {{ value | downcase }};"
                      >
                        <input
                          type="radio"
                          name="{{ option.name }}-{{ option.position }}"
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}checked{% endif %}
                          class="swatch-input__input color-swatch-input color__swatch__input"
                          data-value="{{ value | escape }}"
                        >
                        <span class="swatch-checkmark"></span>
                      </label>
                    {% endfor %}
                  </div>
                  {% else %}
                  {% comment %} <select class="option-variant-selector" name="option-variant-selector" id="ProductSelect-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option 
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %} selected="selected"{% endif %}
                      >
                        {{ value | escape }}
                      </option>
                    {% endfor %}
                  </select> {% endcomment %}
                  <div class="variant-radio-group" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <label class="variant-radio-label">
                        <input
                          type="radio"
                          name="{{ option.name }}-{{ option.position }}"
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}checked{% endif %}
                          class="swatch-input__input variant-radio-input"
                          data-value="{{ value | escape }}"
                        >
                        {{ value }}
                      </label>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            <input type="hidden" class="variant-selector" id="custom-variant-id" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        </div>
        <div class="action_btns">
            <div class="product_actions_btns">
              {% assign first_variant = product.variants.first %}
              <button class="product_cart_btn ajax__cart {% unless first_variant.available %} disabled-btn {% endunless %}"
                 {% unless first_variant.available %} disabled {% endunless %}
                >Add Into Cart</button>
            </div>
          </div>
    </div>
</div>
<style>
    .quick__cart__main{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background:#F2F2F2;
    padding:10px;
}
.quick__cart__main.active__Cart{display:block;top:0;}
{% comment %} .product__image__item{display:none;} {% endcomment %}
</style>
