{% comment %} {% assign related_articles = "" %}
{% assign max_related = 4 %}

{% for a in blog.articles %}
  {% if a.id != article.id %}
    {% assign match = false %}
    {% for tag in article.tags %}
      {% if a.tags contains tag %}
        {% assign match = true %}
      {% endif %}
    {% endfor %}

    {% if match %}
      {% assign related_articles = related_articles | append: a.handle | append: "," %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign related_list = related_articles | split: "," | uniq %}

{% if related_list.size > 0 %}
  <div class="related-articles">
    <h3>Related Posts</h3>
    <div class="related-articles-grid">
      {% assign count = 0 %}
      {% for a in blog.articles %}
        {% if related_list contains a.handle %}
          <article class="related-item">
            <a href="{{ a.url }}">
              {% if a.image %}
                <img src="{{ a.image | image_url: width: 400 }}" alt="{{ a.title }}">
              {% endif %}
              <h4>{{ a.title }}</h4>
            </a>
            <p>{{ a.content  }}</p>
          </article>
          {% assign count = count | plus: 1 %}
          {% if count >= max_related %}
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %} {% endcomment %}

<div class="related-articles">
    <div class="related-articles-grid">
        <h3>Related Posts</h3>
        <ul>
            {% for related_article in articles %}
                <li>
                    <article class="related-item">
                        <a href="{{ related_article.url }}">
                            {% if related_article.image %}
                            <img src="{{ related_article.image | image_url: width: 400 }}" alt="{{ a.title }}">
                            {% endif %}
                            <h4>{{ related_article.title }}</h4>
                        </a>
                        <p>{{ related_article.content  }}</p>
                        <div class="related_articles_tag">
                            {% for tag in related_article.tags %}
                                <p>{{ tag }}</p>
                            {% endfor %}
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>