{% assign main_heading = page.metafields.custom.top_main_heading.value %}
{% assign main_subheading = page.metafields.custom.top_main_subheading %}
{% assign images = page.metafields.custom.application_image_list.value %}
{% assign images_btn_text = page.metafields.custom.apllication_images_btn_text.value %}
{% assign images_btn_links = page.metafields.custom.application_images_btn_links.value %}
<div class="application-interior-main">
    {% if main_heading and main_subheading %}
        <div class="custom-info-section page-heading-intro">
            <div class="custom-info page-width">
                {% if main_heading %}
                <h2 class="custom-heading">{{ main_heading }}</h2>
                {% endif %}
                {% if main_subheading %}
                <p class="custom-subheading">{{ main_subheading}}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if images and images_btn_text and images_btn_links %}
        <div class="application__surfaces__details">
            {% for img in images %}
                {% assign index = forloop.index0 %} 
                <div class="surface_content {% if forloop.first %}full-width-item{% endif %}">
                    <img src="{{ img |img_url:'master' }}" width=400 />
                    <div class="application-button-main">
                        <a href="{{ images_btn_links[index] }}"><button>{{ images_btn_text[index] }}</button></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "all-interior-applications-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
