{% if section.settings.section_heading %}
<div class="best-sellers-section">
  <h2>{{ section.settings.section_heading }}</h2>
  <div class="products-grid">
    {% assign all_products = collections.all.products %}
    {% assign sorted_products = all_products | sort: 'best_selling' %}
     <ul
        id="product-grid"
        data-id="{{ section.id }}"
        class="
        grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
        grid--{{ section.settings.columns_desktop }}-col-desktop
        {% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %}
        "
     >
    {% for product in sorted_products limit: section.settings.products_limit %}
      {% comment %} <div class="product-card">
        <a href="{{ product.url }}">
          {% if product.featured_image %}
            {{ product.featured_image | image_url: width: 400 | image_tag }}
          {% endif %}
          <h3>{{ product.title }}</h3>
          <p>{{ product.price | money }}</p>
        </a>
      </div> {% endcomment %}
       <li class="grid__item">
            {% render 'custom-card-product',
            card_product: product,
            %}
        </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
<style>
    .best_selling_products__home .custom_action_btns{display:none;} 
</style>
{% schema %}
{
  "name": "Best Sellers Section",
  "class": "best_selling_products__home",
  "settings": [
    {
      "type": "number",
      "id": "products_limit",
      "label": "Number of products to show",
      "default": 8,
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
    }
  ],
  "presets": [
    {
      "name": "Best Sellers",
      "category": "Products"
    }
  ]
}
{% endschema %}