{% assign products = collection.metafields.custom.compare_products.value %}
{% assign heading = collection.metafields.custom.compare_products_heading.value %}
{% assign des_headings = collection.metafields.custom.compare_product_des_heading.value %}
{% assign des_values = collection.metafields.custom.custom.compare_product_des_detail.value %}


<div class="comapre_products_section">
    <div class="compare_products_data">
        <div class="compare_products_heading">
            <h2>{{ heading }}</h2>
        </div>
        <div class="compare_products">
            {% for product in products %}
                <div class="product_data">
                    <div class="product_media_content">
                        <a href="{{ product.url }}">
                            <img src="{{ product.featured_image | img_url: "small" }}" />
                        </a>
                    </div>
                    <div class="product_title">
                        <p>{{ product.title }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="products_description_conent">
        <div class="heading_lists">
            {% for text in des_headings %}
                <div class="des_content">
                    <h2>{{ text }}</h2>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
<style>
    .compare_products{display:flex;}

</style>

{% schema %}
{
  "name": "Compare Product Section",
  "settings": [
    { "type": "text", "id": "heading", "label": "Section Heading", "default": "Latest from the blog" },
  ],
  "presets": [
    { "name": "Compare Product Section", "category": "collection" }
  ]
}
{% endschema %}