{% assign heading = product.metafields.custom.right_image_heading.value %}
{% assign subheading_text = product.metafields.custom.right_image_text.value %}
{% assign btn_text = product.metafields.custom.right_image_btn.value %}
{% assign btn_link = product.metafields.custom.right_image_btn_link.value %}
{% assign Image = product.metafields.custom.right_image_file.value %}


{% if heading != blank and product.metafields.custom.right_image_file != blank %}
    <div class="right_image_section">
        <div class="section_content">
            <div class="left_text_content">
                <div class="headings">
                    <h2>{{ heading }}</h2>
                    <p>{{ subheading_text }}</p>
                </div>
                <div class="btn_content">
                    <a href="{{ btn_link }}"><button class="contact_btn">{{ btn_text }}</button></a>
                </div>
            </div>
            <div class="right_media_content">
                <div class="image_data">
                    <img src="{{ Image | img_url: 'master' }}" width="" height="">
                </div>
            </div>
        </div>
    </div>
{% endif %}
<style>

.right_image_section{
    background-color:#f0f4f2;
    margin:50px 0 0;
}  
.section_content{
    display:flex;
    align-items: center;
}
.left_text_content,.right_media_content{
    width:50%;
}
.right_media_content img{
    width:100%;
    display:block;
}
.right_image_section button.contact_btn {
    border: none;
    padding: 12px 30px;
    border-radius: 33px;
    font-size: 14px;
    cursor: pointer;
    font-family: Frutiger Neue LT W1G;
    font-weight: bold;
    flex: auto;
    color: #fff;
    background: #183029;
}
.right_image_section .headings h2 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Frutiger Neue LT W1G Cn XBlack';
    line-height: normal;
    letter-spacing: 0;
}

.right_image_section .headings p {
    margin: 0 0 15px;
    font-family: Frutiger Neue LT W1G;
}
.right_image_section .left_text_content {
    max-width: 780px;
    margin: 0 auto;
    padding: 30px;
}


@media(max-width:767px){
    .left_text_content, .right_media_content {
        width: 100%;
    }
    .right_image_section .left_text_content {
        padding: 20px;
    }
    .section_content {
        flex-wrap: wrap;
    }
} 


</style>
{% schema %}
{
  "name": "Right Image Section",
  "presets": [
    {
      "name": "Right Image Section"
    }
  ]
}
{% endschema %}
