{% comment %}
  Section: Blog Posts Grid + Slick
{% endcomment %}

<section class="custom-blog-section">
  <div class="page-width">
     <div class="blog-hhheadiing">
      {% if section.settings.heading != blank %}
        <h2 class="blog-section-heading">{{ section.settings.heading }}</h2>
      {% endif %}
      <div class="blog-hediing-right">
        {% if section.settings.view_all_label != blank and section.settings.view_all_link != blank %}
          <a href="{{ section.settings.view_all_link }}" class="view-all-button">
            {{ section.settings.view_all_label }}
          </a>
        {% endif %}
      </div>
    </div>

    <div class="blog-posts-grid">
      {% assign blog_handle = section.settings.blog %}
      {% assign post_limit = section.settings.post_limit %}
      {% for article in blogs[blog_handle].articles limit: post_limit %}
        <div class="blog-post">
          {% if article.image %}
            <a href="{{ article.url }}" class="blog-post-image">
              <div class="blogss-imggg">
                <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.title }}" width="" height="">
              </div>
            </a>
          {% endif %}

          <div class="blog-post-meta">
            <p class="blog-date">{{ article.published_at | date: "%B %d, %Y" }}</p>
            <h3 class="blog-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
            <p class="blog-description">{{ article.content | strip_html | truncate: 200 }}</p>
            <a href="{{ article.url }}" class="blog-readmore">Read More</a>

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  section.custom-blog-section .page-width {
    max-width: 1760px;
    padding: 0 30px;
    margin: 0 auto;
}
.blog-hhheadiing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-all-button {
  display: inline-block;
  background: transparent;
  border: 2px solid #143d2d;
  color: #143d2d;
  padding: 10px 25px;
  border-radius: 50px;
  font-family: Frutiger Neue LT W1G;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.view-all-button:hover {
  background: #143d2d;
  color: #fff;
}
h2.blog-section-heading {
    font-family: Frutiger Neue LT W1G;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0;
    color: #000;
    margin: 0;
}

.blogss-imggg {
    position: relative;
    padding-bottom: 400px;
}

.blogss-imggg img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0;
    border-radius: 20px;
}

p.blog-date {
    font-family: Frutiger Neue LT W1G;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #183029;
    margin: 25px 0 0;
    text-transform: uppercase;
}

h3.blog-title {
    margin: 10px 0 5px;
}

h3.blog-title a {
    text-decoration: none;
    font-family: Frutiger Neue LT W1G;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000;
}

p.blog-description {
    margin: 0;
    font-family: Frutiger Neue LT W1G;
    font-weight: 350;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    opacity: 50%;
    margin-bottom: 30px;
}

.blog-readmore {
    padding: 12.5px 31px;
    border-radius: 50px;
    font-family: Frutiger Neue LT W1G;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-top: auto;
    width: auto !important;
}
.blog-posts-grid .blog-post {
    display: flex;
    flex-direction: column;
}
.blog-posts-grid .blog-post {
    display: flex;
    flex-direction: column;
}

.blog-posts-grid .blog-post .blog-post-meta {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.blog-posts-grid .blog-post .blog-post-meta * {
    width: 100%;
}

.custom-blog-section {
  padding: 100px 0;
}
.blog-section-heading {
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
.blog-posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 50px;
}

.blog-date {
  font-size: 14px;
  color: #777;
  margin-bottom: 8px;
}
.blog-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.blog-excerpt {
  font-size: 15px;
  color: #555;
  margin-bottom: 15px;
}
.blog-readmore {
  display: inline-block;
  background: #143d2d;
  color: #fff;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 14px;
  text-decoration: none;
  transition: background 0.3s ease;
}
.blog-readmore:hover {
 background: #1b3a27ad;
    transition: all ease 1s;
}
</style>



<script>
$(document).ready(function(){
  function initSlick() {
    if ($(window).width() < 990) {
      if (!$('.blog-posts-grid').hasClass('slick-initialized')) {
        $('.blog-posts-grid').slick({
          slidesToShow: 2,
          slidesToScroll: 1,          
          centerMode:true,
          dots: true,
          arrows: false,
          prevArrow: '<div class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M169.4 297.4C156.9 309.9 156.9 330.2 169.4 342.7L361.4 534.7C373.9 547.2 394.2 547.2 406.7 534.7C419.2 522.2 419.2 501.9 406.7 489.4L237.3 320L406.6 150.6C419.1 138.1 419.1 117.8 406.6 105.3C394.1 92.8 373.8 92.8 361.3 105.3L169.3 297.3z"/></svg></div>',
          nextArrow: '<div class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M471.1 297.4C483.6 309.9 483.6 330.2 471.1 342.7L279.1 534.7C266.6 547.2 246.3 547.2 233.8 534.7C221.3 522.2 221.3 501.9 233.8 489.4L403.2 320L233.9 150.6C221.4 138.1 221.4 117.8 233.9 105.3C246.4 92.8 266.7 92.8 279.2 105.3L471.2 297.3z"/></svg></div>',
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                centerMode:true,
                centerPadding: '20px',
              }
            }
          ]
        });
      }
    } else {
      if ($('.blog-posts-grid').hasClass('slick-initialized')) {
        $('.blog-posts-grid').slick('unslick');
      }
    }
  }

  initSlick();
  $(window).on('resize', function(){
    initSlick();
  });
});
</script>


{% schema %}
{
  "name": "Custom Blog Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Our Blogs"
    },
    {
      "type": "text",
      "id": "view_all_label",
      "label": "View All Button Label",
      "default": "View All"
    },
    {
      "type": "url",
      "id": "view_all_link",
      "label": "View All Button Link"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Select Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Number of posts",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Csutom Blog Section",
      "category": "Blog"
    }
  ]
}
{% endschema %}
