 <div class="tab-products-wrap">
                <h4 class="oil-head">{{ section.settings.heading }}</h4>
                {% for block in section.blocks %}
                {% assign tab_collection = block.settings.tab_collection %}
                <div class="tab-products{% if forloop.first %} active{% endif %}" id="tab-{{ block.id }}">
                  <ul class="product-grid">
                    {% for product in tab_collection.products %}
                    <li class="product-item"
                      data-colours="{{ product.metafields.custom.colour_filter2.value | join: ',' }}"
                      data-products="{{ product.metafields.custom.product_filter.value | join: ',' }}"
                      data-available="{{ product.available }}"
                      data-product-id="{{ product.variants.first.id }}">                        
                        <div class="product-item-img-col">
                          <a href="{{ product.url }}">
                          {% if product.featured_image %}
                          <div class="product-image-wrapper" data-cover="{{ product.metafields.custom.cover_image | img_url: 'master' }}" data-featured="{{ product.featured_image | img_url: '400x' }}">
                            {% if product.metafields.custom.cover_image != blank %}
                              <img class="cover-image" src="{{ product.metafields.custom.cover_image | img_url: ' ' }}" alt="{{ product.title }}" width="" height="">
                            {% endif %}
                            <img class="featured-image" src="{{ product.featured_image | img_url: ' ' }}" alt="{{ product.title | escape }}" width="" height="">
                          </div>
                          {% endif %} 
                          </a>
                          <div class="plus-show">{% render 'Cs-plus-icon' %}</div>
                        </div>  
                        <div class="product-item-conts">
                          <a href="{{ product.url }}">
                            <h3>{{ product.title }}</h3>
                            <p class="price hidden">{{ product.price | money }}</p>    
                          </a>                         
                        </div>
                      </li>                      
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
             </div>

             {% schema %}
{
  "name": "Project",
  "settings": [
    { "type": "text", "id": "heading", "label": "Main Heading" }
    
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
       
        { "type": "collection", "id": "tab_collection", "label": "Collection to show" }
      ]
    }
  ],
  "presets": [{ "name": "Project", "category": "Custom" }]
}
{% endschema %}