{% assign source_collection = collections[section.settings.source_collection] %}
{% assign tab_images = source_collection.metafields.custom.species_images.value %}
{% assign tab_titles = source_collection.metafields.custom.species_titles.value %}
{% assign exterior_vertical_tags = source_collection.metafields.custom.species_vertical_tag_name.value %}
{% assign exterior_horizontal_tags = source_collection.metafields.custom.species_tag_name.value %}

<div class="circle-tabs-section exteriour_tabs_section">              
  
</div> 
<div class="tab-products-wrap Exterior-wrap">
  {% if section.settings.heading != blank %}
    <h4 class="oil-head">{{ page.metafields.custom.color_exterior }}</h4>
  {% endif %}

  {% assign tab_collection = collections[section.settings.exterior_collection] %}

  {% if tab_collection != blank %}
    <div class="tab-productss active">
      <ul class="product-grid collection-{{ tab_collection.handle }}">
        {% for product in tab_collection.products %}
          {% comment %} {% assign ash_image = product.metafields.custom.exterior_ash_image.value %} {% endcomment %}
          {% comment %} {% assign beech_image = product.metafields.custom.exterior_beech_image.value %} {% endcomment %}
          {% assign larch_image = product.metafields.custom.exterior_larch_image.value %}
          {% assign pine_image = product.metafields.custom.exterior_pine_image.value %}
          {% comment %} {% assign oak_image = product.metafields.custom.exterior_oak_image.value %} {% endcomment %}
          {% comment %} {% assign maple_image = product.metafields.custom.exterior_maple_image.value %}   {% endcomment %}
          {% assign douglas_image = product.metafields.custom.exterior_douglas_image.value %} 
          {% assign ipe_image = product.metafields.custom.exterior_ipe_image.value %}
          {% assign teak_image = product.metafields.custom.exterior_teak_image.value %}
          {% assign thermowood_image  = product.metafields.custom.exterior_thermowood_image.value %}

            {% assign color_list = product.metafields.custom.colour_filter2.value %}
                {% assign first_parts = '' %}
                {% for color in color_list %}
                  {% assign parts = color | split: '-' %}
                  {% if first_parts == '' %}
                    {% assign first_parts = parts[0] | strip %}
                  {% else %}
                    {% assign first_parts = first_parts | append: ',' | append: parts[0] | strip  %}
                  {% endif %}
                {% endfor %}

          <li class="product-item"
              data-colours="{{ first_parts}}"
              data-products="{{ product.metafields.custom.product_filter.value | join: ',' }}"
              data-available="{{ product.available }}"
              data-product-id="{{ product.variants.first.id }}"
              data-tags="{{ product.tags | join: ',' }}">
            
            <div class="product-item-img-col">
              <a href="{{ product.url }}">
                {% comment %} {% if product.featured_image %} {% endcomment %}
                  <div class="product-image-wrapper"
                       data-cover="{{ product.metafields.custom.cover_image | img_url: 'master' }}"
                       data-featured="{{ product.featured_image | img_url: '400x' }}"
                       {% comment %} data-ash="{% if ash_image %}{{ ash_image | img_url: '400x'}} {%endif %}" {% endcomment %}
                        {% comment %} data-beech="{% if beech_image %}{{ beech_image | img_url: '400x'}} {%endif %}" {% endcomment %}
                        data-larch="{% if larch_image %}{{ larch_image | img_url: '400x'}} {%endif %}"
                        data-pine="{% if pine_image %}{{ pine_image | img_url: '400x'}} {%endif %}"
                        {% comment %} data-oak="{% if oak_image %}{{ oak_image | img_url: '400x'}} {%endif %}" {% endcomment %}
                        {% comment %} data-maple="{% if maple_image %}{{ maple_image | img_url: '400x'}} {%endif %}"  {% endcomment %}
                        data-douglas="{% if douglas_image %}{{ douglas_image | img_url: '400x'}} {%endif %}" 
                        data-ipe="{% if ipe_image %}{{ ipe_image | img_url: '400x'}} {%endif %}" 
                        data-teak="{% if teak_image %}{{ teak_image | img_url: '400x'}} {%endif %}" 
                        data-thermowood="{% if thermowood_image %}{{ thermowood_image | img_url: '400x'}} {%endif %}" 
                       
                        data-default-view="cover"  
                  >
                    {% comment %} {% if product.metafields.custom.cover_image != blank %} {% endcomment %}
                              <img class="cover-image {% unless product.featured_image %} show_as_feature{%endunless %}{% unless  product.metafields.custom.cover_image %} no-cover-image {% endunless %} " src="{{ product.metafields.custom.cover_image | img_url: ' ' }}" alt="{{ product.title }}" width="" height="">
                            {% comment %} {% endif %} {% endcomment %}
                            <img class="featured-image {% unless product.featured_image %} no-featured-image {% endunless %} {% unless  product.metafields.custom.cover_image %} cover_image show_as_cover {% endunless %}" src="{{ product.featured_image | img_url: ' ' }}" alt="{{ product.title | escape }}" width="" height="">
                          </div>
                {% comment %} {% endif %} {% endcomment %}
              </a>
              {% if product.metafields.custom.badge != blank %}
  <div class="product-badge">
    {{ product.metafields.custom.badge }}
  </div>
{% endif %}

        {% comment %} <button
            class="
                            wishlist_button card-prod main-{{ forloop.index0 }}  {%- if card_product.available == false -%}sold-wish{% endif %}
            "
            onclick="toggleWishlist(this)"
            data-id="{{ card_product.id }}"
            data-title="{{ card_product.title | escape }}"
            data-image="{{ card_product.featured_image | img_url: 'master' }}"
            data-price="{{ card_product.price | money }}"
            data-url="{{ card_product.url }}"
          >
            <svg width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <rect x="0" fill="none" width="24" height="24"/>

              <g>

              <path d="M16.5 4.5c2.206 0 4 1.794 4 4 0 4.67-5.543 8.94-8.5 11.023C9.043 17.44 3.5 13.17 3.5 8.5c0-2.206 1.794-4 4-4 1.298 0 2.522.638 3.273 1.706L12 7.953l1.227-1.746c.75-1.07 1.975-1.707 3.273-1.707m0-1.5c-1.862 0-3.505.928-4.5 2.344C11.005 3.928 9.362 3 7.5 3 4.462 3 2 5.462 2 8.5c0 5.72 6.5 10.438 10 12.85 3.5-2.412 10-7.13 10-12.85C22 5.462 19.538 3 16.5 3z"/>

              </g>
            </svg>
          </button> {% endcomment %}
              {% comment %} <div class="plus-show">{% render 'Cs-plus-icon' %}</div> {% endcomment %}
            </div>

            <div class="product-item-conts">
              <div class="product-buttons-wraper">
                {% comment %} <button class="more-info-color">More Info</button>
                <button class="order-sample-color">Order Sample</button> {% endcomment %}
                 <button class="more-info-color">{{section.settings.learn_more_btn_text}}</button>
                <button class="order-sample-color">{{ section.settings.order_sample_btn_text }}</button> 
              </div>
              <a href="{{ product.url }}">
                <h3>{{ product.title }}</h3>
                <p class="price hidden">{{ product.price | money }}</p>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p>No collection selected or collection is empty.</p>
  {% endif %}
</div>


{% schema %}
{
  "name": "Exterior Collection",
  "settings": [
    { "type": "text", "id": "heading", "label": "Main Heading" },
    { "type": "text", "id": "heading2", "label": "Secondary Heading", "default": "Choose your species:" },
   {
    "type": "collection",
    "id": "source_collection",
    "label": "Select Page for Images"
    },
    { "type": "collection", "id": "exterior_collection", "label": "Exterior Collection" },
     { "type": "text", "id": "order_sample_btn_text", "label": "Order Sample Button" },
    { "type": "text", "id": "learn_more_btn_text", "label": "Learn More Button" }
  ],
   "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        { "type": "text", "id": "tab_name", "label": "Species name" },
        { "type": "text", "id": "exterior_tag_name", "label": "Exterior Horizontal Tag name" },
        { "type": "text", "id": "exterior_v_tag_name", "label": "Exterior vertical Tag name" },
        { "type": "image_picker", "id": "tab_image", "label": "Tab image" },
        { "type": "collection", "id": "tab_collection", "label": "Collection to show" }
      ]
    }
  ],
  "presets": [{ "name": "Exterior Collection", "category": "Custom" }]
}
{% endschema %}