{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{% assign shown = article.metafields.custom.show_published_detail.value %}
{% assign related_articles = article.metafields.custom.related_blog_list.value %}
{% assign products = article.metafields.custom.related_blog_product.value %}
{% assign in_this_content = article.metafields.custom.in_this_article.value %}

<article class="article-template">
  <div class="page-width">
    <nav class="breadcrumb" aria-label="Breadcrumb">
        <a href="{{ routes.root_url }}">Home</a>
        <span class="separator">›</span>
        <a href="{{ blog.url }}">{{ blog.title }}</a>
        <span class="separator">›</span>
        <span aria-current="page">{{ article.title }}</span>
    </nav>
    <div class="article_content_main">
        <div class="article_content">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when '@app' -%}
                        <div class="page-width page-width--narrow">
                            {% render block %}
                        </div>
                    {%- when 'featured_image' -%}
                        {%- if article.image -%}
                            {% comment %} <div 
                                class="article-template__hero-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                                {{ block.shopify_attributes }}
                            >
                                <div class="article-template__hero-{{ block.settings.image_height }} media"
                                    {% if block.settings.image_height == 'adapt' and article.image %}
                                        style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
                                    {% endif %}
                                >
                                    <img
                                        srcset="
                                            {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                                            {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                                            {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                                            {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                                            {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                                            {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                                            {{ article.image | image_url }} {{ article.image.width }}w
                                            "
                                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                                        src="{{ article.image | image_url: width: 1100 }}"
                                        loading="eager"
                                        fetchpriority="high"
                                        width="{{ article.image.width }}"
                                        height="{{ article.image.height }}"
                                        alt="{{ article.image.alt | escape }}"
                                    >
                                </div>
                            </div> {% endcomment %}
                            <div class="tag__card__media">
                                <img src="{{ article.image | image_url: width: 500 }}" alt="{{ article.title | escape }}">
                              </div>
                        {%- endif -%}

                    {% comment %} {%- when 'title' -%}
                        <div class="article__title_content">
                            <h2 class="article-template__title">
                                {{ article.title | escape }}
                            </h2>
                            {%- if block.settings.blog_show_date -%}
                                <span class="circle-divider caption-with-letter-spacing">
                                {{- article.published_at | time_tag: format: 'date' -}}
                                </span>
                            {%- endif -%}
                            {%- if block.settings.blog_show_author -%}
                                <span class="caption-with-letter-spacing">
                                <span>{{ article.author }}</span>
                                </span>
                            {%- endif -%}
                          </div> {% endcomment %}

                    {%- when 'content' -%}
                        <div class="article__content__des">
                            {{ article.content }}
                        </div>
                        <div class="published_data_content">
                          <div class="published_data">
                            <span class="circle-divider caption-with-letter-spacing">
                              {{- article.published_at | time_tag: format: 'date' -}}
                            </span>
                          </div>
                          <div class="post-info">
                              {% assign words = article.content | strip_html | split: ' ' %}
                              {% assign words_count = words.size %}
                              {% assign reading_time = words_count | divided_by: 200 %}
                              {% if reading_time < 1 %}
                                {% assign reading_time = 1 %}
                              {% endif %}
                            <span class="post-est"> <img src="https://cdn.shopify.com/s/files/1/0680/7647/0314/files/clock.png?v=1762778865" width="" height=""> reading time:6 minute{% if reading_time > 1 %}s{% endif %} </span>
                          </div>
                          <div class="article__tags__content">
                            {{ article.tags |join: ' ' }}
                          </div>
                        </div>

                {%- endcase -%}
            {%- endfor -%}
            {% comment %} metafields data {% endcomment %}
            {% if in_this_content %}
              {% render 'in_this_article_section' in_this:in_this_content %}
            {% endif %}

            {% assign sections = (1..4) %}
            <div class="information_section">
              {% for i in sections %}
                {% assign image_key = "imagelist" | append: i %}
                {% assign content_key = "textcontent" | append: i %}
                {% assign video_key = "videolist" | append: i %}

                {% assign image_list = article.metafields.custom[image_key].value %}
                {% assign content_list = article.metafields.custom[content_key].value %}
                {% assign video_list = article.metafields.custom[video_key].value %}
                {% assign mod_check = forloop.index | modulo: 2 %}

                {% if image_list != blank or content_list != blank %}
                  <div class="divider"> &nbsp; </div>
                  <div class="">
                    <div class="custom_info_data custom_info_data_{{ i }} {% if mod_check == 0 %}reverse-layout{% endif %} ">
                      <div class="media_section">
                        {% for image in image_list %}
                          <div class="image_data">
                            <img src="{{ image | img_url: 'master' }}" width="300" height="300" alt="Article image {{ forloop.index }}">
                          </div>
                        {% endfor %}
                      </div>
                      <div class="textcontent_section">
                        {% for text_data in content_list %}
                          <div class="text_information">
                            <p class="info__{{ forloop.index }}">{{ text_data }}</p>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="video_section">
                      {% if video_list != blank %}
                        <div class="video_section">
                          {% for video in video_list %}
                            <div class="video_data">
                              {{ video | media_tag:
                                 autoplay: true, 
                                loop: true,
                                controls: true,
                                muted: true
                              }}
                            </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>

          {% if shown %} <div class="parent_blog_detail"><p>Article Posted in <a href="{{ blog.url }}" class="parent_blog">{{ blog.title }}</a></p></div> {% endif %}
          {% if products %}  {% render 'related-articles-products' , products:products %} {% endif %}
          {% if related_articles %}  {% render 'related-articles' , articles:related_articles %} {% endif %}
        </div>
        <div class="search_blogs_section">
            <div class="search_section">
                <h2>Search our blog</h2>
                <div class="blog__search__field search">
                    <form role="search" method="get" action="/search" class="blog-search-form">
                        <input 
                            type="search" 
                            name="q" 
                            placeholder="Search posts here..." 
                            value="{{ search.terms | escape }}" 
                            aria-label="Search posts here..."
                        >
                        <button type="submit" class="search-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                              <circle cx="11" cy="11" r="8"></circle>
                              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </button>
                        <input type="hidden" name="type" value="article">

                    </form>
                </div>
                {% comment %} <div class="blogs_list">
                    <h2>Categories</h2>
                    {% assign blog_handles = "news,updates,stories,collection,tag" | split: "," %}
                        {% for handle in blog_handles %}
                            {% assign this_blog = blogs[handle] %}
                            {% assign count = this_blog.articles_count | default: 0 | plus: 0 %}
                            {% if count > 0  %}
                                <p>
                                    <a href="{{ this_blog.url }}">
                                        {{ this_blog.title }}
                                        {% if this_blog.articles_count > 0 %}<span>({{ this_blog.articles_count }})</span>{% endif %}
                                    </a>
                                </p>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                </div> {% endcomment %}
                <div class="blogs_list">
                  <h2>Categories</h2>
                  <ul class="blogs_list_ul">
                    {% assign blog_handles = "news,updates,stories,collection,tag" | split: "," %}
                    {% for handle in blog_handles %}
                      {% assign this_blog = blogs[handle] %}
                      {% assign count = this_blog.articles_count | default: 0 | plus: 0 %}
                      {% if count > 0 %}
                        <li>
                          <a href="{{ this_blog.url }}">
                            {{ this_blog.title }}                            
                          </a>
                          {% if this_blog.articles_count > 0 %}
                              <span>({{ this_blog.articles_count }})</span>
                            {% endif %}
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>

                <div class="Blog_tags_list_main">
                    <div class="tag_list">
                        <h2>Tags</h2>
                        {% for tag in blog.tags %}
                          <a href="/blogs/{{blog.handle}}/tagged/{{tag}}"><p>{{ tag }}</p></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="blog_contact_us_section">
                {% assign heading = blog.metafields.custom.blog_contact_heading.value %}
                {% assign image = blog.metafields.custom.blog_contact_image.value %}
                {% assign text = blog.metafields.custom.blog_contact_text.value %}
                {% assign method_text = blog.metafields.custom.blog_contact_method_text.value %}
                <div class="contact_image_section">
                    <img src="{{ image | img_url: 'small' }}" />
                </div>
                 <div class="contact_image_section">
                    <h2>{{ heading }}</h2>
                    <p>{{ text }}</p>
                </div>
                <div class="contact__method">
                    {% for text in method_text %}
                        <div class="content_data">
                            {% if forloop.index0 == 0 %}
                                <a href="tel:+1234567890">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24" aria-hidden="true">
                                    <path d="M22 16.92v3a2.1 2.1 0 0 1-2.3 2 19.8 19.8 0 0 1-8.6-3.07A19.5 19.5 0 0 1 3.16 9.9 19.8 19.8 0 0 1 .09 1.27 2.1 2.1 0 0 1 2.11-.02h3a2.1 2.1 0 0 1 2.1 1.8c.13 1.08.39 2.14.77 3.15a2.1 2.1 0 0 1-.48 2.22L6.1 8.36a16.5 16.5 0 0 0 6.54 6.54l1.22-1.22a2.1 2.1 0 0 1 2.22-.48 14.5 14.5 0 0 0 3.15.77A2.1 2.1 0 0 1 22 16.92z"/>
                                  </svg>
                                  {{ text }}
                                </a>
                            {% endif %}
                            {% if forloop.index0 == 1 %}
                                 <a href="mailto:{{ shop.email }}">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 2v.01L12 13 4 6.01V6h16zM4 18V8.24l8 6 8-6V18H4z"/>
                                  </svg>
                                  {{ text }}
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    {% comment %} <div class="article-template__back element-margin-top center{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <a href="{{ blog.url }}" class="article-template__link link animate-arrow">
            <span class="icon-wrap">
                <span class="svg-wrapper">{{- 'icon-arrow.svg' | inline_asset_content -}}</span>
            </span>
            {{ 'blogs.article.back_to_blog' | t: title: blog.title | escape }}
        </a>
    </div> {% endcomment %}
    {%- if blog.comments_enabled? -%}
        <div class="article-template__comment-wrapper background-secondary">
            <div
                id="comments"
                class="page-width page-width--narrow{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            >
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" tabindex="-1">
            {{ 'blogs.article.comments' | t: count: article.comments_count }}
          </h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span
                    ><span class="caption-with-letter-spacing">
                      {{- comment.created_at | time_tag: format: 'date' -}}
                    </span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                      {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>
                <span class="svg-wrapper">
                  {{- 'icon-success.svg' | inline_asset_content -}}
                </span>
                {{ post_message | t }}
              </h3>
            </div>
          {%- endif -%}

          <div
            {% if blog.moderated? == false %}
              class="article-template__comments-fields"
            {% endif %}
          >
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  required
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">
                  {{- 'blogs.article.name' | t }}
                  <span aria-hidden="true">*</span></label
                >
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- 'blogs.article.name' | t }}
                      {{ form.errors.messages.author }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  required
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">
                  {{- 'blogs.article.email' | t }}
                  <span aria-hidden="true">*</span></label
                >
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- 'blogs.article.email' | t }}
                      {{ form.errors.messages.email }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input"
                aria-required="true"
                required
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
              <label class="form__label field__label" for="CommentForm-body">
                {{- 'blogs.article.message' | t }}
                <span aria-hidden="true">*</span></label
              >
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{- 'blogs.article.message' | t }}
                  {{ form.errors.messages.body }}.</span
                >
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
      </div>
    </div>
  {%- endif -%}
</div>
</article>


<script type="application/ld+json">
  {{ article | structured_data }}
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "t:sections.main-article.blocks.share.settings.text.default"
        }
      ]
    }
  ]
}
{% endschema %}
