
<div class="tag-card-section-main">
    <div class="tag__article__card__wrapper">
        <div class="tag__article__image">
            {%- if show_image == true and article.image -%}
                <div class="tag__card__media">
                    <img src="{{ article.image | image_url: width: 300 }}" alt="{{ article.title | escape }}">
                </div>
            {% endif %}
        </div>
        <div class="tag__card_title">
            <h3 class="tag__card__heading{% if show_excerpt %} h2{% endif %}">
                <a href="{{ article.url }}" class="full-unstyled-link">
                    {{ article.title }}
                </a>
            </h3>
        </div>
        <div class="tag__card__description">
            {%- if show_excerpt -%}
                {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                    <p class="tag-article-card__excerpt rte-width">
                        {%- if article.excerpt.size > 0 -%}
                        {{ article.excerpt  }}
                        {%- else -%}
                        {{ article.content }}
                        {%- endif -%}
                    </p>
                {%- endif -%}
                <div class="tag-article-card__footer">
                    {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                        <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                    {%- endif -%}
                </div>
                <a href="{{ article.url }}" class="read-more-btn">{{ article.tags | join: ' ' }}</a>
            {%- endif -%}
        </div>
    </div>
</div>