
<div class="single-layer-section-main">
    <div class="single-layer">
        <div class="product_listed">
            <h2>{{ section.settings.main_heading }}</h2>
            <div class="product_detail product-block">
                {% assign product = section.settings.add_product %}
                {% if product %}
                    <div class="media_sec">
                        <img src="{{ product.featured_image | image_url: width: 300  }}" />
                    </div>
                    <div class="pro_detail">
                        <div class="product_title_price">
                            <h3>{{ product.title }}</h3>
                            <p>{{ product.price | money_with_currency }}</p>
                        </div>
                        <div><p>Perfect all for your inside Surfaces</p></div>
                        <div class="pro_variants">
                            <select class="variant-selector" name="variant-selector">
                                {% for variant in product.variants %}
                                    <option value="{{ variant.id }}">{{ variant.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="pro_buttons">
                            <a href="{{ product.url }}"><button class="more_info">More Info</button></a>
                            <button type="submit" class="add_to_cart_ajax">Add To cart</button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="media_content">
            <div class="media content">
                <img src="{{ section.settings.image | img_url: 'master' }}" />
            </div>
        </div>
    </div>
</div>
<style>
    .product_listed{width:60%;}
    .media_content{width:40%;}
    .single-layer{width:95%;margin:auto;}
    .product_listed h2{font-size:25px; font-weight:600;text-transform:capitalize;}
    .product_detail , .product_title_price{display:flex;}
{% schema %}
    {
        "name":"Filling Gap Section",
        "settings": [
            {
                "type": "text",
                "id": "main_heading",
                "label": "Main Heading"
            },
            {
                "type": "product",
                "id": "add_product",
                "label": "Product"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Image Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading"
            }
        ],
         "presets": [
            {
            "name": "Single Layer Section",
            "category": "collection"
            }
        ]
    }
{% endschema %}