{% comment %} <section class="custom-cert-slider">
  <div class="custom-cert-header">
    <h2>{{ section.settings.section_heading }}</h2>
    <div class="custom-cert-arrows">
      <button type="button" class="custom-cert-prev">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="#000">
          <path d="M169.4 297.4C156.9 309.9 156.9 330.2 169.4 342.7L361.4 534.7C373.9 547.2 394.2 547.2 406.7 534.7C419.2 522.2 419.2 501.9 406.7 489.4L237.3 320L406.6 150.6C419.1 138.1 419.1 117.8 406.6 105.3C394.1 92.8 373.8 92.8 361.3 105.3L169.3 297.3z"/>
        </svg>
      </button>
      <button type="button" class="custom-cert-next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="#000">
          <path d="M471.1 297.4C483.6 309.9 483.6 330.2 471.1 342.7L279.1 534.7C266.6 547.2 246.3 547.2 233.8 534.7C221.3 522.2 221.3 501.9 233.8 489.4L403.2 320L233.9 150.6C221.4 138.1 221.4 117.8 233.9 105.3C246.4 92.8 266.7 92.8 279.2 105.3L471.2 297.3z"/>
        </svg>
      </button>
    </div>
  </div>

  <div class="custom-cert-carousel">
    {% for block in section.blocks %}
      <div class="custom-cert-card" {{ block.shopify_attributes }}>
        <div class="custom-cert-img">
          {% if block.settings.certificate_image %}
            <img src="{{ block.settings.certificate_image | img_url:'master' }}" alt="{{ block.settings.certificate_title | escape }}">
          {% endif %}
          <div class="custom-cert-desc">
            <p>{{ block.settings.certificate_description }}</p>
          </div>
        </div>
        <div class="custom-cert-content">
          <h3>{{ block.settings.certificate_title }}</h3>
          <div class="custom-cert-btn-wrapper">
            <div class="custom-cert-btn">
              <button class="custom-cert-plus" type="button">+</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "top picks Slider col",
  "settings": [
    { "type": "text", "id": "section_heading", "label": "Section Heading", "default": "International product certificates" }
    { "type": "product_list", "id": "product_list", "label": "Certificate Image" },
    
  ],
  "blocks": [
    {
      "type": "certificate",
      "name": "Certificate",
      "settings": [
        { "type": "image_picker", "id": "certificate_image", "label": "Certificate Image" },
        { "type": "text", "id": "certificate_title", "label": "Certificate Title", "default": "Certificate name" },
        { "type": "text", "id": "certificate_subtitle", "label": "Certificate Subtitle", "default": "Subtitle here" }
      ]
    }
  ],
  "presets": [ { "name": "Top Picks Slider col" } ]
}
{% endschema %} {% endcomment %}

 <section class="custom-cert-slider">
 <div class="custom-cert-header">
    <h2>{{ section.settings.section_heading }}</h2>
    <div class="custom-cert-arrows">
      <button type="button" class="custom-cert-prev">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="#000">
          <path d="M169.4 297.4C156.9 309.9 156.9 330.2 169.4 342.7L361.4 534.7C373.9 547.2 394.2 547.2 406.7 534.7C419.2 522.2 419.2 501.9 406.7 489.4L237.3 320L406.6 150.6C419.1 138.1 419.1 117.8 406.6 105.3C394.1 92.8 373.8 92.8 361.3 105.3L169.3 297.3z"/>
        </svg>
      </button>
      <button type="button" class="custom-cert-next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="#000">
          <path d="M471.1 297.4C483.6 309.9 483.6 330.2 471.1 342.7L279.1 534.7C266.6 547.2 246.3 547.2 233.8 534.7C221.3 522.2 221.3 501.9 233.8 489.4L403.2 320L233.9 150.6C221.4 138.1 221.4 117.8 233.9 105.3C246.4 92.8 266.7 92.8 279.2 105.3L471.2 297.3z"/>
        </svg>
      </button>
    </div>
  </div> 

  <div class="custom-cert-carousel">
   {% for product in section.settings.product_list %}
      {% assign addon_products = product.metafields.custom.product_addon.value %}
      <div class="custom-cert-card">
        <div class="custom-cert-img">
          {% if product.featured_image %}
            <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title | escape }}">
          {% endif %}
          <div class="custom-cert-desc">
            <p>{{ product.description | strip_html | truncate: 120 }}</p>
          </div>
        </div>

        <div class="custom-cert-content">
          <h3>{{ product.title }}</h3>
          <div class="custom-cert-btn-wrapper">
            <div class="custom-cert-btn">
              <button class="custom-cert-plus" 
                data-variant="{{ product.variants.first.id }}" 
                data-url="{{ product.url }}" 
                data-image="{{ product.featured_image | img_url: 'medium' }}" 
                data-title = "{{ product.title }}" 
                {% comment %} data-addons = {{ addon_products | json }} {% endcomment %}
                type="button">+</button>
                <script type="application/json" class="addons">
                  {{ addon_products | json }}
                </script>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
<div id="product-popup" class="product-popup">
  <div class="product-popup-content product-block">
    <button class="popup-close">×</button>
    <div class="popup_product_info_main">
      <div class="product_image"><img id="popup-image" src="" alt=""></div>
      <div class="popup_product_info">
        <div class="pro_title_price">
          <h2 id="popup-title"></h2>
          <p id="popup-description"></p>
        </div>
        <div class="action_btns">
          <a id="popup-link" href="#" class="popup-view-product">View Product Details</a>
          <input type="hidden" name="variant-selector" class="variant-selector">
          <button class="add_to_cart add_to_cart_ajax">Add to Cart</button>
        </div>
        <div class="addon_products_main"></div>
      </div>
      
    </div>

  </div>
</div>

<style>
.custom-cert-slider { 
    padding: 100px 30px;
     max-width: 1745px;
      margin: 0 auto;
     }
.custom-cert-header 
{ display: flex; 
    justify-content: space-between;
     align-items: center;
      margin-bottom: 50px;
     }
.custom-cert-header h2 {
     font-family: Frutiger Neue LT W1G;
      font-weight: 700;
       font-size: 40px; 
       line-height: 45px;
        margin: 0; 
    }
.custom-cert-arrows {
     display: flex;
      gap: 10px;
     }
.custom-cert-arrows button {
  background: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.custom-cert-arrows button svg { 
  width: 20px;
  height: 20px;
  display: block; 
}

.custom-cert-card { 
    border-radius: 20px;
    text-align: center; 
    margin: 0 10px; 
    overflow: hidden;
     position: relative;
         padding: 22px 20px;
     }
.custom-cert-img {
     background-color: #E1E9E4;
      position: relative;
       padding-bottom: 316px;
        border-radius: 20px 20px 0 0;
         overflow: hidden;
         border:1px solid #000;
         }
.custom-cert-card img {
     max-width: 100%;
      width: 100%;
       height: 100%;
        object-fit: cover;
         position: absolute;
          top: 0;
           left: 0;
            right: 0;
             bottom: 0;
              transition: opacity 0.3s ease; 
            }

.custom-cert-content {
     background-color: #183029;
      display: flex;
      justify-content: space-between;
       align-items: center;
        padding: 15px;
         border-radius: 0 0 20px 20px;
          position: relative;
         }
.custom-cert-content h3 {
     margin: 0; 
     font-size: 18px;
      font-weight: 500;
       color: #fff;
       text-align: left;
        padding-right: 36px;
     }
.custom-cert-btn-wrapper { 
    display: flex;
     justify-content: end;
      position: absolute;
       top: 0;
        left: 0;
         right: 0; 
         bottom: 0; 
         align-items: center; 
         padding: 0 10px;
         }
.custom-cert-btn { 
    width: 28px;
     height: 28px; 
     border: 1px solid #fff;
      border-radius: 50%; 
      display: flex;
       align-items: center;
        justify-content: center; 
        cursor: pointer; 
    }
.custom-cert-plus {
     background: none; 
     border: none;
      color: #fff; 
      font-size: 18px;
       cursor: pointer; 
    }

.custom-cert-desc {
  position: absolute;
  inset: 0;
  background: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.4s ease;
  border-radius: 20px 20px 0 0;
}
.custom-cert-card.active .custom-cert-desc { opacity: 1; transform: translateY(0); }
.custom-cert-card.active img { opacity: 0; }

@media(max-width:1200px){ .custom-cert-card { width: 250px; } }
@media(max-width:767px){
  .custom-cert-header h2 { font-size: 24px; }
  .custom-cert-arrows button { width: 30px; height: 30px; border: 1px solid rgba(0,0,0,0.2); }
  .custom-cert-arrows button svg { width: 12px; height: 12px; }
}

/** popup css*/
.product-popup-content{display:none;}
.product-popup-content.active-popup{display:block;}
.product-popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.product-popup.active , .popup_product_info_main{display: flex;}
.product-popup-content {
  background: #fff;
  padding: 30px;
  max-width: 600px;
  width: 90%;
  text-align: center;
  position: relative;
  border-radius: 8px;
}
.product-popup-content img {
  max-width: 100%;
  height: auto;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}
.popup_product_info{text-align:start}
.popup-title{font-size:22px;font-weight:600;}
</style>

<script>
document.addEventListener("DOMContentLoaded", function(){
  const popup = document.getElementById("product-popup");
  const popupImage = document.getElementById("popup-image");
  const popupTitle = document.getElementById("popup-title");
  const popupDescription = document.getElementById("popup-description");
  const popupLink = document.getElementById("popup-link");
  const popupClose = document.querySelector(".popup-close");
  const popupmain = document.querySelector('.product-popup-content')
  const popupInput = document.querySelector('input[name="variant-selector"]')


  if(typeof jQuery !== 'undefined' && typeof jQuery.fn.slick !== 'undefined'){
    $('.custom-cert-carousel').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      infinite: false,
      prevArrow: $('.custom-cert-prev'),
      nextArrow: $('.custom-cert-next'),
      responsive: [
        { breakpoint: 1200, settings: { slidesToShow: 3 } },
        { breakpoint: 768, settings: { slidesToShow: 2 } },
        { breakpoint: 480, settings: { slidesToShow: 1 } }
      ]
    });
  } else {
    console.error("jQuery or Slick slider is not loaded.");
  }
  document.querySelectorAll(".custom-cert-plus").forEach(btn => {
    btn.addEventListener("click", function(){
      {% comment %} const card = this.closest(".custom-cert-card");
      card.classList.toggle("active");
      this.textContent = card.classList.contains("active") ? "×" : "+"; {% endcomment %}
      const title = this.dataset.title;
      const image = this.dataset.image;
      const url = this.dataset.url;
      const variant_id = this.dataset.variant;
      const scriptTag = this.parentElement.querySelector('script.addons');
      const addons = JSON.parse(scriptTag.textContent);
      if(addons) addonAdd(addons)
    
      popupmain.classList.add('active-popup');
      popupImage.src = image;
      popupImage.alt = title;
      popupTitle.textContent = title;
      popupLink.href = url;
      popupInput.value = variant_id;

      popup.classList.add("active");
      document.body.classList.add("popup-open");

    });
  });

   popupClose.addEventListener("click", () => {
    console.log('popup-close clicked')
    popupmain.classList.remove('active-popup')
    popup.classList.remove("active");
    document.body.classList.remove("popup-open");
  });

  // Optional: close when clicking outside content
  popup.addEventListener("click", (e) => {
    if (e.target === popup) {
        popupmain.classList.remove('active-popup')
      popup.classList.remove("active");
      document.body.classList.remove("popup-open");
    }
  });
  function addonAdd(addons)
  {
      const container = document.querySelector('.addon_products_main');
      addons.forEach(addon => {
        const imageSrc = addon.variants?.[0]?.featured_image?.src || '';
        const addonDiv = document.createElement('div');
        addonDiv.classList.add('addon-item');
        addonDiv.innerHTML = `
          <img src="${imageSrc}" width=100 />
          <p>${addon.title}</p>
        `;

        container.appendChild(addonDiv);
    });
  }
});
</script>

{% schema %}
{
  "name": "top picks Slider col",
  "settings": [
    { "type": "text", "id": "section_heading", "label": "Section Heading", "default": "International product certificates" },
    { "type": "product_list", "id": "product_list", "label": "product list" },
    
  ],
  "presets": [ { "name": "Top Picks Slider col" } ]
}
{% endschema %}